<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Dosen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="alert alert-success" th:if="${message}">
        <p th:text="${message}"></p>
    </div>
    <div class="alert alert-danger" th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <div class="row justify-content-center m-4">
        <div class="col-md-8">
            <h1 class="text-left">Register Dosen</h1>
        </div>
        <div class="col-md-4">
        <form th:object="${dosen}" action="#" th:action="@{/dosen/register}" method="post">
            <div class="form-group">
                <label for="nim">Username  </label>
                <input type="text" class="form-control" id="nim" name="username" th:field="*{username}" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required>
            </div>
            <div class="form-group">
                <label for="nama">Nama Dosen</label>
                <input type="password" class="form-control" id="nama" name="namaDosen" th:field="*{namaDosen}" required>
            </div>
            <select class="form-select" name="matkulSelected">
                <option th:each="matkul : ${matkuls}"
                th:value="${matkul.id}"
                        th:text="${matkul.name}"
                ></option>
            </select>
            <div class="row">
                <button  type="submit" class="btn btn-primary col-4 ml-3">Daftar</button>
            </div>
            <a class="mt-2" href="#" th:href="@{/login}">Login</a>
        </form>
    </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
